<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div data-spy="scroll" data-target="#navbar" data-offset="0">
      <%- include('./partials/navbar.ejs') %>
      </div>
    <h2 class="p-3">Brands</h2>
    <button class="btn-sm btn-success" onclick="addButton()">+ Add</button>
    <div class="list-group">
      
        <table class="table" id="productsTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Options</th>
              
            </tr>
          </thead>
          <% brands.forEach(function(brand) { %>
          <tbody>
            
              <tr>
                <td><%= brand.Id %></td>
                <td><%= brand.Name %></td>
                <td>
                  <button class="btn-sm btn-danger" onclick="deleteBrand(<%=brand.Id%>)">Delete</button>
                  
                    <button class="btn-sm btn-warning" onclick="editButton(<%=brand.Id%>)">Edit</button></td>
                
              </tr>
                
              </tr>
            <% }); %>
          </tbody>
        </table>
    </div>
    <script src="../js/brands.js"></script>
  </body>
</html>
